body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(219, 219, 219);
}
h1 {
  color: #505050;
  font-size: 30px;
  font-weight: 100;
  line-height: 36px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  padding-left: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  text-transform: capitalize;
  color: rgb(114, 114, 114);
}
footer {
  text-align: center;
  font-size: smaller;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding-top: 40px;
  margin-top: 30px;
  border: 1px solid rgb(71, 70, 71);
  border-radius: 7px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 1px;
  width: 48px;
  height: 48px;
}

.weather-temperature strong {
  color: #505050;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -21px;
}
.btn-primary {
  background-color: #e96e50 !important;
  border: #e96e50 !important;
}
.form-control:focus {
  border-color: #e96e50 !important;
  box-shadow: rgb(119, 132, 133);
}

.fiveday-forecast {
  padding: 20px 20px;
}
a:link {
  color: coral;
}
