body {
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  background-color: rgb(255, 233, 253);
}
h1 {
  color: #505050;
  font-size: 30px;
  font-weight: 100;
  line-height: 36px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
list-style-type: none;
  padding-left: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  color: rgb(114, 114, 114);
}
footer {
  text-align: center;
}
.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 40px;
  margin-top: 30px;
  border: 1px solid rgb(71, 70, 71);
  border-radius: 7px;
}
.small-font {
  font-size: smaller;
}
.temp-number {
  font-size: 2em;
  padding-top: 0px !important;
}
.btn-primary {
  background-color: blueviolet !important;
  border: blueviolet !important;
}
.form-control:focus {
  border-color: rgb(95, 12, 173) !important;
  box-shadow: cadetblue;
}

.units {
  float: top !important;
  margin-top: 7px;
}
.fiveday-forecast {
  padding: 20px 20px;
}
.weather-logo {
  height: 40px;
  width: 40px;
}
